NEXT_PUBLIC_SUPABASE_URL=fegcwhomcvyaashzulsw
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZlZ2N3aG9tY3Z5YWFzaHp1bHN3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg2NzIxNzcsImV4cCI6MjA5NDI0ODE3N30.9d8optJmmtzI9367_IXIzBWnuQtmWLeJuvJuuYPiAQg
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_i7hfS8HbNQFlAA5q7HTbog__Bhjr9VV

NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_SosYzxegPjgz4G

RAZORPAY_KEY_ID=rzp_test_SosYzxegPjgz4G

RAZORPAY_KEY_SECRET=3BQl5IMQfZZDPz84GNuwdIVu


NEXT_PUBLIC_APP_URL=https://your-site.vercel.app